body {
    font-family: 'helvetica';
    overflow-x: hidden;
}

h1 {
    width: 100%;
    color: white;
    background-color: coral;
    padding: 2%;
    text-align: center;
    font-size: xx-large;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: solid 3px coral ;
    padding: 2%;
}
th {
    padding: 15px;
    text-align: left;
    font-weight: bold;
    font-size: large;
    text-transform: capitalize;
    background-color: coral;
    color: white;
  }

  td {
    padding: 15px;
    text-align: left;
    color: slategray;
  }

tr:hover {
background-color: rgb(252, 207, 191);
}